.carousel slide{
    height: 400px;
}

  
  .about-div{
    width: 90%;
    margin-left: 5%;
    text-align: justify;
  }
  .h2-food-sponsor{
    color:navy;
    text-align:center;
  }

 .doc-img{
  width: 100%;
 }
 h1{
  margin: 80px 0px 10px 40px;
 }