.carousel slide{
    height: 400px;
}

  
  .about-div{
    width: 90%;
    margin-left: 5%;
    text-align: justify;
  }
  .h2-food-sponsor{
    color:navy;
    text-align:center;
  }
 #about_img{
  max-width: 800px;
 }