{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
        form {
            margin: 40px auto;
            width:500px;
            padding: 20px 30px;
            border: 1px solid #27AE60 ;
            border-radius: 5px;
            background-color: #eb9b9b;

        }
        body{
            background-color: #CD7F32;
        }
    </style>
</head>
<body>
    <h1>Medical Hub</h1>
   
    
    <form method ="post">
        <h1>Customer login</h1>
        {% csrf_token %}{{ form | crispy}}
        <p>Do you haven't account?&nbsp;&nbsp;<a href="{% url 'customerregister' %}">Register</a></p>
        <p>Staff Login&nbsp;&nbsp;<a href="{% url 'stafflogin' %}">Login</a></p>
        <button class="btn btn-primary"type="submit">login</button>
    </form>
    
</body>
</html>