{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}"/>
{% endblock style %}

{% block content %}
<div class='container-fluid'>
  <div class='row'>
    <div class='col-12 p-0 col-class'>
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="control-panel">
            <input class="form-control" placeholder="Search"  />
            <button type="button" class="btn btn-primary">Search</button> 
          </div>
          <div class="carousel-item active">
            <img src="{% static 'img/home1.jpg' %}" class="d-block w-100 car-img" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/home2.jpg' %}" class="d-block w-100 car-img" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/home3.jpg' %}" class="d-block w-100 car-img" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row features-title'>
    <div class='col-12 p-0 text-center'>
      <h3>Medicines</h3>      
      <p>Medicines, often referred to as drugs, are used to prevent or treat diseases and other health conditions. 
        Medicines can be obtained by a prescription or over the counter (OTC).</p>      
    </div>
  </div>
  <div class='row'>
    <div class='col-12 p-0 text-center'>
      <img class="doc-img" src="{% static 'img/medicine purchasse.jpg' %}" class="content-img" alt="...">
    </div>
  </div>
  <div class='row features-title'>
    <div class='col-12 p-0 text-center'>
           
    </div>
  </div>
  <div class='row features-card'>
    {% for category in categories %}
    <div class='col-4 p-0 text-center'>
      <div class="card" style="width: 18rem;">
        <img src="/media/{{category.img}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{category.name}} </h5>
          <a href="{% url 'purchase' %}" class="btn btn-primary">Find More</a>
        </div>
      </div>    
    </div>
    {% endfor %}
  </div>
</div>




{% endblock content %}