{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/staff-home.css' %}"/>
    <title>staff</title>
</head>
<body>
    <div class="staff-product-page">
        <h1>Products</h1>
        <div class="product-container">
            {% for product in page_obj.object_list  %}
            <div class="product-card">
                <img class="product-img" src="/media/{{product.img}}" />
                <div class="product-content">
                    <p class="product-name">{{product.product_name}}</p>
                    <p class="product-price">{{product.price}}</p>
                    <p class="product-description">{{product.product_description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">previous</a>
            {% endif %}
            <span>{{page_obj.number}}</span>
            {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">next</a>
            {% endif %}
        </div>
     </div>
</body>
</html>