{% extends 'staffbase.html'%}
{% load static %}
 {% block title %} 
 product
 {% endblock title %}
 
 {% block style %}
 <link rel="stylesheet" href="{% static 'css/product.css' %}"/>
 {% endblock style %}

 {% block content %}
 <div class="product-page">
        <h1>Products</h1>
    <div class="product-container">
        {% for product in page_obj.object_list %}
        <div class="product-card">
            <img class="product-img" src="/media/{{product.img}}" />
            <div class="product-content">
                <p class="product-name">{{product.product_name}}</p>
                <p class="product-price">{{product.price}}</p>
                <p class="product-description">{{product.product_description}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">previous</a>
        {% endif %}
        <span>{{page_obj.number}}</span>
        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">next</a>
        {% endif %}
    </div>
 </div>

{% endblock content %}