{% extends 'staffbase.html'%}
{% load crispy_forms_tags %}
{% load static %}
 {% block title %} 
 product
 {% endblock title %}
 
 {% block style %}
 <link rel="stylesheet" href="{% static 'css/staff-add-product.css' %}"/>
 {% endblock style %}

 {% block content %}
    <div style="margin-top:60px" class="staff-add-product">
    <h1>Add product</h1>
    <div class="add-product-form">

        <form enctype="multipart/form-data" method="post">
            {% csrf_token %} {{ form|crispy }}
            {{ product_form|crispy }}
            <button class="btn btn-primary" type="submit">ADD PRODUCT</button>
          </form>

    </div>
    </div>
{% endblock content %}
